.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    margin-top: 10px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

.linkbutton {
    width: 160px;
    text-align: center;
    color: #262e42;
}

.linkbutton:hover {
    color: #262e42cc;
}